@font-face {
  font-family: 'AvenirNext';
  src: url(./AvenirNextRoundedStd-Demi.woff2) format('woff2'),
    url(./AvenirNextRoundedStd-Demi.woff2) format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'AvenirNext';
  src: url(./AvenirNextRoundedStd-Med.woff2) format('woff2'),
    url(./AvenirNextRoundedStd-Med.woff2) format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'AvenirNext';
  src: url(./AvenirNextRoundedStd-Reg.woff2) format('woff2'),
    url(./AvenirNextRoundedStd-Reg.woff2) format('woff');
  font-weight: 400;
}
